
header {
    text-align: center;
    font-size:70px;
    color: rgb(255, 202, 202);
    background-color: #da767b;
    text-decoration: underline;
}

nav {
    
    text-align: center;
}


.selected {
  background-color: #ffd5d7;
  border-radius: 12px 12px 0 0;
}

.bg {
  background-image: url("assets/imgs/flowerbg.jpg");
  height: 25%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #da767b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    border-radius: 12px 12px 0 0;
    display: block;
    color: rgb(128, 12, 12);
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size:20px;
  }
  
  li a:hover {
    background-color: #c4545a;
  }

article {
  color: rgb(138, 59, 59);
  background-color: #ffcbcd;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

table, th, td {
  border: 5px solid #ffd5d7;
  border-collapse: collapse;
}
th, td {
  background-color: #ffffff;
  padding: 15px;
}

table, td:hover {
  background-color: #cacaca;
}

table, th {
  background-color: #ffd5d7;
}

.container {
  position: relative;
  margin: 0 auto;
}

.container img {
  vertical-align: middle;
  width: 30%;
  height: 20%;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.363);
  color: #f1f1f1;
  width: 28.3%;
  padding: 15px;
}

#one {
  background-color: #c4545a;
}

#two {
  background-color: #000000;
}

#three {
  background-color: #ae54c4;
}
